
   <web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaeeLinks to an external site." xmlns:xsi="http://www.w3.org/2001/XMLSchema-instanceLinks to an external site." xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaeeLinks to an external site. http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsdLinks to an external site.">
    <display-name>IOTBay</display-name>
       <servlet>
           <servlet-name>ConnServlet </servlet-name>

           <servlet-class>controller.ConnServlet </servlet-class>

           <load-on-startup>0</load-on-startup>

       </servlet>

       <servlet-mapping>

            <servlet-name>ConnServlet</servlet-name>
  
            <url-pattern>/ConnServlet</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>CustomerInfoServlet</servlet-name>
            <servlet-class>controller.CustomerInfoServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
        </servlet>

        <servlet-mapping>
            <servlet-name>CustomerInfoServlet</servlet-name>
            <url-pattern>/CustomerInfoServlet</url-pattern>
        </servlet-mapping>

       <session-config>

           <session-timeout>

               30

           </session-timeout>

      </session-config>

 </web-app>